/* ----- Color Pallet --- Manual Fold -----  */
:root {
  --primary: ;
  --primary-hover: ;
  --primary-fixed: ;

  --secondary-: rgb(43, 83, 43);
  --secondary-hover: rgb(53, 102, 53);
  --secondary-fixed: rgb(43, 83, 43);

  --complementary-: pink;
  --complementary-hover: rgb(252, 204, 212);
  --complementary-fixed: ;

  --aditional: lightgray;
  --aditional-hover: ;
  --aditional-fixed: ;

  --body: #EDEDED;
  --body-hover: ;
  --body-fixed: ;

  --font-primary: #222222;
  --font-primary-hover: #5a5a5a;
  --font-primary-fixed: ;

  --font-secondary: white;
  --font-secondary-hover: ;
  --font-secondary-fixed: white;

  --font-complementary-: ;
  --font-complementary-hover: ;
  --font-complementary-fixed: ;

  --font-aditional: ;
  --font-aditional-hover: ;
  --font-aditional-fixed: ;
}

.dark-mode {
  --primary: ;
  --primary-hover: ;

  --secondary-: blue;
  --secondary-hover: rgb(30, 30, 245);

  --complementary-: purple;
  --complementary-hover: rgb(149, 1, 149);

  --aditional: rgb(35, 36, 44);
  --aditional-hover: ;

  --body: rgb(23, 26, 32);
  --body-hover: ;

  --font-primary: white;
  --font-primary-hover: rgb(211, 211, 211);

  --font-secondary: #222222;
  --font-secondary-hover: ;

  --font-complementary-: ;
  --font-complementary-hover: ;

  --font-aditional: ;
  --font-aditional-hover: ;
}