* {
  box-sizing: border-box;
}

body {
  color: var(--font-primary);
  background-color: var(--body);
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
  font-size: clamp(1rem, 1.8vw, 5rem);
}

/* ----- basic tags --- Manual Fold -----  */
input {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 1rem;
}

button {
  font-size: 1rem;
  border: none;
  background-color: var(--complementary-);
  color: var(--font-secondary-fixed);
  padding: 7px 15px;
  margin: 5px 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: var(--complementary-hover);
  transform: scale(1.03);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav-line {
  height: 3px;
  width: 25px;
  background-color: var(--font-primary);
  margin: 5px 5px 0 0
}

.nav-line:hover {
  background-color: var(--font-primary-hover);
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.search {
  width: 100%;
  max-width: 1000px;
  margin-right: 10px;
}

.search::placeholder {
  color: rgb(133, 133, 133);
}


.search-categ-btns {
  display: flex;
  gap: .5em;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-top: 15px;
}

.search-categ-btns button {
  margin: 5px 0;
  scroll-snap-align: start;
  flex-shrink: 0;
  background-color: var(--secondary-);
}

.search-categ-btns button:hover {
  background-color: var(--secondary-hover);
  transform: scale(1.03);
}


.food-article-container {
  display: flex;
  gap: 1em;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  /* scrollbar-width: none; */
}

/* .food-article-container::-webkit-scrollbar {
  display: none;
} */

.food-article-card {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: clamp(9rem, 30vw, 30rem);
  height: clamp(20rem, 30vw, 30rem);
  /* aspect-ratio: 4 / 5; */
}

.food-img-bg {
  background-color: var(--aditional);
  padding: 10px;
  height: clamp(10rem, 20vw, 30rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.img-food-card {
  height: 100%;
  object-fit: cover;
}

.food-card-text {
  overflow: hidden;
}